body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-y: scroll; /* Always show a vertical scrollbar */
}

.container {
    max-width: 90%; /* Adjust the percentage as per your preference */
    margin: 0 auto; /* Center the container horizontally */
}

header {
    background-color: #161B33;
    color: #fff;
    height: 70px; /* Adjust the height to your desired value */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: top 0.3s;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    max-width: 100%;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
}

header h1 {
    letter-spacing: 2px; /* Adjust the value as per your preference */
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif; font-size: 40px;
}

p, a {
  font-family: 'Noto Serif';font-size: 18px;
}

img {
  max-width: 30%;
  height: auto;
}