body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-y: scroll; /* Always show a vertical scrollbar */
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 80%; /* Adjust the percentage as per your preference */
    margin: 0 auto; /* Center the container horizontally */
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: top 0.3s;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
}

header h1 {
    letter-spacing: 2px; /* Adjust the value as per your preference */
}