:root {
  --main-bg-color: #161b33;
  --main-text-color: #fff;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Noto Serif", serif;
  --header-height: 70px;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--secondary-font);
}

.container {
  max-width: 90%;
  margin: 0 auto; /* Center horizontally */
}

/* Semantic Header */
header {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: top 0.3s;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

header h1 {
  letter-spacing: 2px;
}

h1,
h2,
h3 {
  font-family: var(--primary-font);
  font-size: 40px;
}

p,
a {
  font-family: var(--secondary-font);
  font-size: 18px;
}

/* Base img styles (primarily targeting mobile) */
img {
  max-width: 90%;
  height: auto;
}

/* Larger screen adjustments */
@media (min-width: 768px) {
  img {
    max-width: 30%;
  }
}

.header-buttons {
  display: flex;
  align-items: center;
}

button {
  margin-right: 10px;
  background-color: var(--main-bg-color); /* More consistent button styling */
  color: var(--main-text-color);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s; /* Add transition for hover effect */
}

button:hover {
  background-color: #333; /* Darker background on hover */
}

button:focus {
  outline: 2px solid #007bff;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: var(--main-text-color);
  font-weight: bold;
}

nav a:focus {
  outline: 2px dotted #333;
}

header nav a:hover {
  color: red; /* Example color change */
}
